!!!

%html{ lang: "en" }
  %title
    Crowbar

  %meta{ http_equiv: "X-UA-Compatible", content: "IE=edge" }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
  %meta{ charset: "utf-8" }

  = stylesheet_tag "init"
  = javascript_tag "init"

%body
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand{ href: "/" }
          Crowbar

  .container
