[Unit]
Description=Crowbar Init
After=network.target syslog.target remote-fs.target
Requires=apache2.service

[Service]
Type=simple
User=crowbar
Group=crowbar
KillMode=control-group
TimeoutSec=300
TimeoutStopSec=10

Environment="RACK_ENV=production"

ExecStart=/usr/bin/crowbar-init

Restart=always

[Install]
WantedBy=multi-user.target
