[Unit]
Description=Crowbar Init
After=network.target syslog.target remote-fs.target
Requires=apache2.service

[Service]
Type=simple
User=crowbar
Group=crowbar
KillMode=control-group
TimeoutSec=300
TimeoutStopSec=10

Environment="CROWBAR_INIT_ENV=production"
Environment="CROWBAR_INIT_THREADS=5"
Environment="CROWBAR_INIT_WORKERS=1"
Environment="CROWBAR_INIT_LISTEN=127.0.0.1"
Environment="CROWBAR_INIT_PORT=4567"

ExecStart=/usr/bin/puma -C /usr/share/crowbar-init/config/puma.rb

Restart=always

[Install]
WantedBy=multi-user.target
